body {
  font-family: Arial, sans-serif;
  background-color: #e9ecef;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #f8f9fa;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f1f1f1;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn {
  background-color: #007bff;
  color: white;
}

.btn:hover {
  background-color: #0056b3;
}

.randomize {
  margin-top: 10px;
  width: 100%;
}
.random-data {
  margin-bottom: 20px; /* Tambahkan jarak di bawah elemen data acak */
  margin-top: 20px;
  padding: 10px;
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
  border-radius: 5px;
  display: none; /* Awalnya disembunyikan */
}
